{{#if mobileInputVisible}}
  {{input class="native-input date-input" value=mobileValue type="date" min="1970-01-01" max="9999-01-01" disabled=disabled autocomplete=autocomplete}}
{{else}}

    <div class="date-input" {{action 'inputClicked'}}>
      {{input class="desktop-input" value=desktopValue disabled=disabled autocomplete=autocomplete}}
    {{#if showCalendarButton}}
        <button class="calendar-button" disabled={{disabled}} {{action 'actionCalendarButton'}} tabindex="-1" ><i class={{calendarClass}}></i></button>
    {{/if}}
    </div>
{{/if}}
