<h3>Try these inputs on desktop and mobile as well - observe the difference.</h3>

<button {{action 'toggleDisabled'}}>Toggle disabled</button>

<h2>Number</h2>

<h4>Default settings (comma and dot are allowed as decimal mark)</h4>
<div>
  {{mobile-input id="numberInput" type='number' value=valueNumber disabled=disabled placeholder="Some number here"}}
  <span id="numberResult">{{valueNumber}}</span>
</div>

<h4>Value set from controller</h4>
<div>
  {{mobile-input id="numberInputController" type='number' value=valueNumberController disabled=disabled placeholder="Some number here"}}
  <span id="numberControllerResult">{{valueNumberController}}</span>
</div>

<h4>With comma decimal mark</h4>
<div>
  {{mobile-input id="numberInputComma" type='number' value=numberResultComma disabled=disabled decimalMark='comma' placeholder="Some number here"}}
  <span id="numberResultComma">{{numberResultComma}}</span>
</div>

<h4>With dot decimal mark</h4>
<div>
  {{mobile-input id="numberInputDot" type='number' value=numberResultDot disabled=disabled decimalMark='dot' placeholder="Some number here"}}
  <span id="numberResultDot">{{numberResultDot}}</span>
</div>

<h2>Text</h2>
<div>
  {{mobile-input id="textInput" type='text' value=valueText disabled=disabled placeholder="Some text here"}}
  <span id="textResult">{{valueText}}</span>
</div>


<h2>Date</h2>
<div>
  {{mobile-input id="dateInput" type='date' value=valueDate disabled=disabled}}
  <span id="dateResult">{{valueDate}}</span>
</div>

<h3>Custom format YYYY-MM-DD</h3>
<div>
  {{mobile-input id="customDateInput" type='date' value=valueDateFormat format='YYYY-MM-DD' disabled=disabled}}
  <span id="customDateResult">{{valueDateFormat}}</span>
</div>

<h2>Different variations</h2>
showOn="input"
<div>
  {{mobile-input id="inputDateInput" type='date' value=valueDateInput showOn="input" disabled=disabled}}
  {{valueDateInput}}
</div>

showOn="button"
<div>
  {{mobile-input id="buttonDateInput" type='date' value=valueDateButton showOn="button" disabled=disabled}}
  {{valueDateButton}}
</div>

showOn="both"
<div>
  {{mobile-input id="bothDateInput" type='date' value=valueDateBoth showOn="both" disabled=disabled}}
  {{valueDateBoth}}
</div>

showOn="none"
<div>
  {{mobile-input id="noneDateInput" type='date' value=valueDateNone showOn="none" disabled=disabled}}
  {{valueDateNone}}
</div>
